.locationDetailsTitle{
  padding: 5px;
  font-weight: bold;
}

.locationDetailsTitle span{
  text-transform: capitalize;
}

.homeLocationBtn{
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.card-body p{
  margin-bottom:0px;
}

.homeSortBtn{
  padding:5px 5px;
}

#locationHomePage{
  font-size: 17px;
}

.geoLocationBtn{
  cursor: pointer;
}

.navBrandClass{
  display: inline !important;
  font-family: customCursiveFont;
  font-weight: bold;
  font-size: 3rem; 
  margin-right: 0;
  width: 100px;
  height: auto;
}

ul li{
  cursor: pointer;
}

.hidden{
  display: none !important;
}